<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}WoD Citizen{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header><h1>WoD Citizen</h1></header>

        <div id="wrapper">
            <div id="container">
                {% block body %}{% endblock %}
                {% block javascripts %}{% endblock %}
            </div>
        </div>

    </body>
</html>
