{% extends 'base.html.twig' %}

{% block body %}
    <div>{% trans %}Check your mail to activate your account.{% endtrans %}</div>
    <div><a href="{{ path('home') }}">{% trans %}Return{% endtrans %}</a></div>
{% endblock %}
